<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
<!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Bug Hive</title>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>
<body>
    <%- include('_header') %>
   <div class="container">
    <aside class="side-nav-wrapper">
        <nav>
            <a href="/" <%= currentPage === 'dashboard' ? 'class=active' : '' %>>Dashboard</a>
            <a href="/projects" <%= currentPage === 'projects' ? 'class=active' : '' %>>Projects</a>
            <a href="/issues" <%= currentPage === 'issues' ? 'class=active' : '' %>>Issues</a>
        </nav>
    </aside>
    <main class="main-nav-wrapper">
        <%-body%>

    </main>
   </div>
</body>
</html>